project_id = "prrgbfnmpoavhmasotis"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
shadow_port = 54320
major_version = 15

[studio]
enabled = true
port = 54323

[auth]
enabled = true
site_url = "http://127.0.0.1:3000"

[functions.generate-questions]
verify_jwt = false

[functions.generate-feedback]
verify_jwt = false
